
params {
    // required parameters
    env = null
    dirs = ""

    // optional parameters
    ip = "0.0.0.0"
    port = 8888
    run_parameters = ""
    cpus = 4
    memory = "16 GB"
}


profiles {
    docker {
        process {
            containerOptions = " -p ${params.port}:${params.port}"
        }
    }
    podman {
        process {
            containerOptions = " -p ${params.port}:${params.port}"
        }
    }
    singularity {
        process {
            containerOptions = " --net --network-args 'portmap=${params.port}:${params.port}/tcp'"
        }
    }
    apptainer {
        process {
            containerOptions = " --net --network-args 'portmap=${params.port}:${params.port}/tcp'"
        }
    }
}
